{% extends 'template/index2.html.twig' %}
{% block cssIncludes %}
    <style>

        body{
            font-family: Arial;
            color: #555;
        }
        .form{
            background-color: #f1f1f1;
            padding: 20px;
        }
        .form input[type="text"]{
            padding: 10px;
            box-shadow: inset 2px 2px 2px rgba(2,5,0,0.2);
            border: none;
        }
        .button{
            display: inline-block;
            padding: 10px;
            background: linear-gradient(#79a6e2 2%, #3366aa 5%, #1e4e8e);
            border: none;
            border-radius: 5px;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            box-shadow: 0px 3px 0px #113c75,
            0px 5px 5px #333;
            margin-right: 5px;
        }

        .button-backlog{
            background: transparent;
            box-shadow: none;
            color: #3366aa;
            font-weight: normal;
        }
        .button-progress{
            background: transparent;
            box-shadow: none;
            color: #c06300;
            font-weight: normal;
        }
        .button-done{
            background: transparent;
            box-shadow: none;
            color: #007b03;
            font-weight: normal;
        }
        .button-delete{
            background: transparent;
            box-shadow: none;
            color: #be0000;
            font-weight: normal;
        }
        .form > h2{
            margin-top: 0
        }
        .col-3rds{
            box-sizing: border-box;
            width:33.333%;
            float:left;
        }
        .flex{
            display: flex;
            flex-direction: row;
        }
        .scrum-board{
            flex: 1;
            padding:20px;
            border-right:1px solid #ddd;
            border-bottom:1px solid #ddd;
        }
        .scrum-board:first-child{
            flex: 1;
            padding:20px;
            border-left:1px solid #ddd;
        }
        .input-group{
            position: relative;
            display: block;
            padding: 10px;
            border: 1px solid #dddddd;
            border-left: 5px solid #ccc;
            margin-bottom: 10px;
            border-radius: 5px;
            background-color: #f1f1f1;
        }
        .input-group span{
            color:#333;
            font-weight: bold;
        }
        .inline{
            display: inline;
        }
        .float-right{
            float: right;
        }
        .overflow{
            overflow: auto;
        }
        .margin-top-10{
            margin-top: 10px;
        }
        .drag{
            font-size: 12px;
            color: #333;
            text-decoration: none;
            position: absolute;
            top:5px;
            right: 5px;
            border: 1px solid #ccc;
            padding: 3px;
            border-radius: 5px;
            cursor: move;
        }
        .placeholder {
            display: block;
            background-color: #fff;
            border: 5px dashed #ededed;
            min-height: 100px;
            margin-bottom: 10px;
        }


    </style>
{% endblock %}
{% block content %}
    <section>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 column">
                        <div class="job-single-sec style3">
                            <div class="job-head-wide">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <div class="job-single-head3 emplye">
                                            <div class="job-thumb"> <img src="/images/resource/sdf.png" alt=""></div>
                                            <div class="job-single-info3">
                                                <h3>Tera Planner</h3>
                                                <input id="scrumId" hidden value="{{ scrum.id }}">
                                                <span><i class="la la-map-marker"></i>{{ scrum.description }}</span><span class="job-is ft">Full time</span>
                                                <ul class="tags-jobs">
                                                    <li><i class="la la-file-text"></i> {{ scrum.title }}</li>
                                                    <li><i class="la la-calendar-o"></i> Post Date: July 29, 2017</li>
                                                </ul>
                                            </div>
                                        </div><!-- Job Head -->
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="share-bar">
                                            <a href="#" title="" class="share-google"><i class="la la-google"></i></a><a href="#" title="" class="share-fb"><i class="fa fa-facebook"></i></a><a href="#" title="" class="share-twitter"><i class="fa fa-twitter"></i></a>
                                        </div>
                                        <div class="emply-btns">
                                            <a class="seemap" href="#" title=""><i class="la la-map-marker"></i> See On Map</a>
                                            <a class="followus" href="#" title=""><i class="la la-paper-plane"></i> Follow us</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div ng-app="ScrumApp">
                                    <div>
                                            <h1>Simple Scrum Board</h1>
                                            <button class="button" id="add-button">Add Task</button>
                                            <br><br><br>
                                            <input class="input-group" type="text" placeholder="Type Title" id="taskTitle" />
                                            <input class="input-group" type="text" placeholder="Type Task" id="task" />
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <div class="flex">
                                            <div class="scrum-board backlog">
                                                <h2>Backlog</h2>
                                                {% for notes in scrum.getScrumNotes()  %}
                                                    {% if notes.state == "To Do" %}
                                                    <div class="input-group overflow">
                                                        <input hidden value="{{ notes.id }}">
                                                        <span>{{ notes.title  }}</span>
                                                        <br>
                                                        <p>{{notes.description  }}</p>
                                                        <a href="#" class="drag">Drag</a>
                                                        <div class="margin-top-10">
                                                            <button class="button button-backlog">Backlog</button><button class="button button-progress">In Progress</button><button class="button button-done">Done</button><button class="button button-delete">Delete</button>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}



                                            </div>

                                            <div class="scrum-board in-progress">
                                                <h2>In progress</h2>
                                                {% for notes in scrum.getScrumNotes()  %}
                                                    {% if notes.state == "Doing" %}
                                                        <div style="background-color: #ffdfbc" class="input-group overflow">
                                                            <input hidden value="{{ notes.id }}">
                                                            <span>{{ notes.title  }}</span>
                                                            <br>
                                                            <p>{{notes.description  }}</p>
                                                            <a href="#" class="drag">Drag</a>
                                                            <div class="margin-top-10">
                                                                <button class="button button-backlog">Backlog</button><button class="button button-progress">In Progress</button><button class="button button-done">Done</button><button class="button button-delete">Delete</button>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}

                                            </div>
                                            <div class="scrum-board done">
                                                <h2>Done</h2>
                                                {% for notes in scrum.getScrumNotes()  %}
                                                    {% if notes.state == "Done" %}
                                                        <div style="background-color: #cfffd0" class="input-group overflow">
                                                            <input hidden value="{{ notes.id }}">
                                                            <span>{{ notes.title  }}</span>
                                                            <br>
                                                            <p>{{notes.description  }}</p>
                                                            <a href="#" class="drag">Drag</a>
                                                            <div class="margin-top-10">
                                                                <button class="button button-backlog">Backlog</button><button class="button button-progress">In Progress</button><button class="button button-done">Done</button><button class="button button-delete">Delete</button>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}

                                            </div>

                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block jsIncludes %}
<script>
    //Init
    init();
    function deleteAjax(idNote){
        var myKeyVals = {
            idNote: idNote
        };
        //console.log(myKeyVals);
        $.ajax({
            url:        '/test/scrum/delete/',
            type:       'POST',
            dataType:   'json',
            data:myKeyVals,

            success: function(data, status) {
                console.log(data);

            },
            error : function(xhr, textStatus, errorThrown) {
                alert('Ajax request failed.');
            }
        });

    }

    function addAjax(type,title,description,idPost){
        var myKeyVals = {
            type : type,
            title : title,
            description : description,
            idpost: idPost
        };
        //console.log(myKeyVals);
        $.ajax({
            url:        '/test/scrum/add/',
            type:       'POST',
            dataType:   'json',
            data:myKeyVals,

            success: function(data, status) {
                console.log(data);
                return data;
            },
            error : function(xhr, textStatus, errorThrown) {
                alert('Ajax request failed.');
            }
        });

    }

    function changeAjax(type,title,description,idpost){
        var myKeyVals = {
            type : type,
            title : title,
            description : description,
            idpost : idpost
        };
        //console.log(myKeyVals);
        $.ajax({
            url:        '/test/scrum/change/',
            type:       'POST',
            dataType:   'json',
            data:myKeyVals,

            success: function(data, status) {
                console.log(data);

            },
            error : function(xhr, textStatus, errorThrown) {
                alert('Ajax request failed.');
            }
        });

    }
    //Button Functions------------------------------------------
    function init() {
        $(".button-backlog").on("click", function() {
            if (!($(this).closest(".backlog").length > 0)) {
                $(this).parents(".input-group").appendTo(".backlog").css({
                    "background-color": "",
                    "border": ""
                });
                var input =$(this).parents(".input-group");
                var title =input.find("span").html();
                var description =input.find("p").html();
                var idp =input.find("input").val();
                changeAjax("To Do",title,description,idp);

            }
        });
        $(".button-progress").on("click", function() {
            if (!($(this).closest(".in-progress").length > 0)) {
                $(this).parents(".input-group").appendTo(".in-progress").css({
                    "background-color": "#ffdfbc",
                    "border": "none"
                });
                var input =$(this).parents(".input-group");
                var title =input.find("span").html();
                var description =input.find("p").html();
                var idp =input.find("input").val();
                changeAjax("Doing",title,description,idp);
            }
        });
        $(".button-done").on("click", function() {
            if (!($(this).closest(".done").length > 0)) {
                $(this).parents(".input-group").appendTo(".done").css({
                    "background-color": "#cfffd0",
                    "border": "none"
                });
                var input =$(this).parents(".input-group");
                var title =input.find("span").html();
                var description =input.find("p").html();
                var idp =input.find("input").val();
                changeAjax("Done",title,description,idp);
            }
        });
        $(".button-delete").on("click", function() {
            $(this).parents(".input-group").remove();
            var input =$(this).parents(".input-group");
            var idp =input.find("input").val();
            alert(idp);
             deleteAjax(idp);
        });

        var placeholderDiv = document.createElement("div");
        var placeholderAtt = document.createAttribute("class");
        var taskDivAttVal = placeholderAtt.value = "placeholder";
        placeholderDiv.setAttributeNode(placeholderAtt);

        //DRAG Functions------------------------------------------
        //Drag - onmousedown
        $(".drag").on("mousedown", function() {
            var taskWidth = $(this).parents(".input-group").width();
            var taskHeight = $(this).parents(".input-group").height();
            var $this = $(this);
            $(this).parents(".input-group").css({
                "position": "absolute",
                "width": taskWidth
            });

            $(this).parents(".input-group").after(placeholderDiv);
            $(".backlog").css({"background-color" : "#fffce0"});
            $(".in-progress").css({"background-color" : "#fffce0"});
            $(".done").css({"background-color" : "#fffce0"});

            //Drag - onmousemove
            $(document.body).on("mousemove", function(event) {
                $this.parents(".input-group").css({
                    "position": "absolute",
                    "top": event.pageY - 13,
                    "left": event.pageX - taskWidth,
                    "width": taskWidth,
                    "z-index": "1000"
                });
            });
        });

        //Drag - onmouseup
        $(".drag").on("mouseup", function() {
            $(this).parents(".input-group").after(placeholderDiv);
            placeholderDiv.remove();
            $(this).parents(".input-group").removeAttr("style");
            $(document.body).unbind("mousemove");
            $(".backlog").css({"background-color" : ""});
            $(".in-progress").css({"background-color" : ""});
            $(".done").css({"background-color" : ""});
        });

    }

    //Create Task------------------------------------------
    $("#add-button").on("click", function() {

        var taskDiv = document.createElement("div");
        var taskp = document.createElement("p");
        var taskSpan = document.createElement("span");
        var buttonsDiv = document.createElement("div");
        var buttonBacklog = document.createElement("button");
        var buttonProgress = document.createElement("button");
        var buttonDone = document.createElement("button");
        var buttonDelete = document.createElement("button");

        var taskDivAtt = document.createAttribute("class");
        var buttonsDivAtt = document.createAttribute("class");
        var buttonBacklogAtt = document.createAttribute("class");
        var buttonProgressAtt = document.createAttribute("class");
        var buttonDoneAtt = document.createAttribute("class");
        var buttonDeleteAtt = document.createAttribute("class");

        var taskDivAttVal = taskDivAtt.value = "input-group overflow";
        var buttonsDivAttVal = buttonsDivAtt.value = "margin-top-10";
        var buttonBacklogAttVal = buttonBacklogAtt.value = "button button-backlog";
        var buttonProgressAttVal = buttonProgressAtt.value = "button button-progress";
        var buttonDoneAttVal = buttonDoneAtt.value = "button button-done";
        var buttonDeleteAttVal = buttonDeleteAtt.value = "button button-delete";
        var id =addAjax("To Do",$("#taskTitle").val(),$("#task").val(),$("#scrumId").val());

        taskDiv.setAttributeNode(taskDivAtt);
        buttonsDiv.setAttributeNode(buttonsDivAtt);
        buttonBacklog.setAttributeNode(buttonBacklogAtt);
        buttonProgress.setAttributeNode(buttonProgressAtt);
        buttonDone.setAttributeNode(buttonDoneAtt);
        buttonDelete.setAttributeNode(buttonDeleteAtt);
        var taskpText = document.createTextNode($("#taskTitle").val());
        var taskText = document.createTextNode($("#task").val());
        var buttonBacklogText = document.createTextNode("Backlog");
        var buttonProgressText = document.createTextNode("In Progress");
        var buttonDoneText = document.createTextNode("Done");
        var buttonDeleteText = document.createTextNode("Delete");
        taskp.appendChild(taskpText);
        taskSpan.appendChild(taskText);
        taskDiv.appendChild(taskSpan);
        taskDiv.appendChild(taskp);
        taskDiv.appendChild(buttonsDiv);
        buttonBacklog.appendChild(buttonBacklogText);
        buttonProgress.appendChild(buttonProgressText);
        buttonDone.appendChild(buttonDoneText);
        buttonDelete.appendChild(buttonDeleteText);
        buttonsDiv.appendChild(buttonBacklog);
        buttonsDiv.appendChild(buttonProgress);
        buttonsDiv.appendChild(buttonDone);
        buttonsDiv.appendChild(buttonDelete);
        console.log(taskText);
        $('.backlog').append(taskDiv);
        init();

    });
</script>
{% endblock %}